[Desktop Entry]
Type=Application
Name=DkWM installer
Exec=x-terminal-emulator -T 'DkWM Installer' -e bash -c "dk-installer"
StartupNotify=false
Terminal=false
Icon=applications-utilities
Categories=System;
