[Desktop Entry]
Type=Application
Version=1.0
Name=Install Beardog
GenericName=Calamares Installer
Exec=install-beardog
Comment=Calamares — Installer for Debian Live
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
